.bip39-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 100%;
  max-width: 360px;
  margin: 1rem auto;
  justify-content: center;
}


.bip39-slot {
  position: relative;
  display: inline-block;
  width: 100%;
}

.bip39-button {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
}

.selected {
  background-color: #1e90ff;
  color: white;
}

.unselected {
  background-color: #ff4444;
  color: white;
}
