/* Reset all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset images and media */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
}
